<% if @peep %>
	<p>Are you sure you want to delete the following peep: <em>"<%= @peep.message %>"</em>?</p>
	<form action="/<%= @peep.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Yes, Delete It!">
		<a href="/<% @peep.id %>">Cancel</a>
	</form>
<% else %>
	<p>Peep not found.</p>
<% end %>