<header>
		<hgoup>
			<h1><a href="/"><span>chi</span>tter</a></h1>
		</hgoup>

		<% if current_user %>
			<p><%= current_user.user_name %></p>
			<div class="button">
				<form id="sign-out" method="post" action="/sessions">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Sign out">
				</form>
		<% else %>
				<a href="/sessions/new" id="sign-in" class="button">Sign in</a>
				<a href="/users/new" id="sign-up" class="button">Sign up</a>
			</div>
		<% end %>

</header>

