<header>
	<div id="logo">
		<a href="/">Chitter</a>
	</div>
	<div id="user-peeps">
		<% if current_user %>
	        Welcome, <%= current_user.email %>
			<a href="/new" id='post-peep' class='button'>Add Peep</a>
     	<form action='/sessions' method='post'>
        	<input type='hidden' name='_method' value='delete'>
        	<input type='submit' value='Sign out' class="button">
     	</form>
		<% else %>
			<a href="/sessions/new" id="sign-in" class="button">Sign in</a>
			<a href="/users/new" id="sign-up" class="button">Sign up</a>
		<% end %>
	</div>
</header>
