<% if current_user %>
	<div id="new-peep">
		<form action="/peeps" method="post">
			<input name="message" placeholder="What's on your mind&hellip;" id="text_area">
			<input type="submit" value="Post" id="post">
		</form>
	</div>
<% end %>

<% @peeps.each do |peep| %>
	<div id="article">
	<p>
		<%= peep.message %>
		<% if current_user %>
			<a href="/<%= peep.id %>">[edit]</a>
		<% else %>
			<a href="/">[edit]</a>
		<% end %>
	</p>
	<p class="meta">Posted at: <%= peep.created_at %></p>
</div>
<% end %>

